# Create a Google Doc, click "share" and make sure it's public to anyone with the link.
# Then click "copy link" and paste below AFTER DOC_URL= (makes sure not to remove the equals symbol)
DOC_URL=https://docs.google.com/document/d/1veOvWdwTR4HSiBjZo_SiOYKv0ZcwIP1lhkSdOeoVWZ0/edit?tab=t.0


# Once you've done the above, rename this file from .env.example to just .env